:root {
  --color-orange: #ff52349f;
  --ff-dancing: "Dancing Script";
  --title-ff: var(--ff-dancing);
  --base-color: var(--color-orange);
}

li{
  list-style: none;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



::-webkit-scrollbar {
    width: 0.8vw; /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
}

/* TO STYLE THE SCROLLBAR TRACK */
::-webkit-scrollbar-track {
    background-color: #000000; /* THIS WILL SET THE COLOR OF THE SCROLLBAR TRACK */
}

/* TO STYLE THE SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 0.2vw solid #ff52349f;
  border-radius: 5vw;
}
